<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GPTDataURL</key>
	<string>$(GPT_DATA_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>JsonDataURL</key>
	<string>$(JSON_DATA_URL)</string>
	<key>KAKAO_APP_KEY</key>
	<string>453fec5882ca034101b9f001ca861048</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaonavi</string>
		<string>nmap</string>
	</array>
	<key>Localization native development region</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NMFClientId</key>
	<string>$(NAVER_CLIENT_ID_CONFIG)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NaverClientID</key>
	<string>$(NAVER_CLIENT_ID_CONFIG)</string>
	<key>NaverClientSecret</key>
	<string>$(NAVER_CLIENT_SECRET_CONFIG)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareOTF_acR.otf</string>
		<string>NanumSquareOTF_acB.otf</string>
		<string>NanumSquareOTF_acEB.otf</string>
		<string>Pretendard_Bold.otf</string>
		<string>Pretendard_Regular.otf</string>
		<string>Pretendard_SemiBold.otf</string>
	</array>
</dict>
</plist>
