<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NaverClientSecret</key>
	<string>$(NAVER_CLIENT_SECRET_CONFIG)</string>
	<key>Privacy — Location Always and When In Use Usage Description</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NMFClientId</key>
	<string>6scd7kzyf1</string>
</dict>
</plist>
